* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1.5rem monospace, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    overflow: hidden;
}

header {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

main {
    background-color: blue;
}

footer {
    background-color: green;
    z-index: 3;
}

section {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
}

.pared {
    background-color: red;
    z-index: 3;
}

.ventana {
    background-color: azure;
    z-index: 1;
}

.grafico {
    position:absolute;
    top: 100px;
    left: 300px;
    background-image: url('../img/Castillo-de-Neuschwanstein.jpg');
    width: 1024px;
    height: 768px;
    z-index: 2;
}